@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500&display=swap');

:root {
	--yellow: #f5bf23;
	--black: #111;
	--light-bg: #eee;
	--box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
	--border: 0.1rem solid rgba(0, 0, 0, 0.3);
	--white: #fff;
	--counterExperience: counterExperience;
	--proyectCompleted: proyectCompleted;
	--satisfiedClients: satisfiedClients;
	--activeWorkers: activeWorkers;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	// transition: cubic-bezier(0.075, 0.82, 0.165, 1);
	// scroll-padding-top: 7rem;
	outline: none;
	border: none;
}

@mixin grid($val) {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax($val, 1fr));
	gap: 2rem;
}

@mixin graphText($graphSize) {
	font-size: $graphSize;
	color: var(--black);
	line-height: 1.5;
}

@mixin btnCallToAction {
	background-color: var(--black);
	width: 120px;
	color: var(--white);
	padding: 15px;
	cursor: pointer;

	&:hover {
		box-shadow: var(--box-shadow);
		background-color: var(--yellow);
		transition: 0.4s ease-in-out;
	}
}

@mixin iconsBox() {
	height: 3rem;
	width: 3rem;
	line-height: 3rem;
	font-size: 1.5rem;
	background: var(--light-bg);
	color: var(--black);
	cursor: pointer;
	text-align: center;

	&:hover {
		background-color: var(--black);
		color: var(--white);
	}
}

@mixin titleSecction {
	border-left: 10px solid var(--yellow);
	font-weight: bold;
	color: var(--black);
	padding-left: 10px;
	margin-bottom: 25px;
}

@property --num {
	syntax: '<integer>';
	initial-value: 0;
	inherits: false;
}

@mixin counterNumber($keyFrame) {
	animation: $keyFrame 5s normal forwards ease-in-out;
	counter-set: num var(--num);
	&::after {
		content: counter(num);
	}

	@keyframes counterExperience {
		from {
			--num: 0;
		}

		to {
			--num: 10;
		}
	}

	@keyframes proyectCompleted {
		from {
			--num: 100;
		}

		to {
			--num: 1500;
		}
	}

	@keyframes satisfiedClients {
		from {
			--num: 100;
		}

		to {
			--num: 750;
		}
	}

	@keyframes activeWorkers {
		from {
			--num: 100;
		}

		to {
			--num: 400;
		}
	}
}

html {
	overflow-x: hidden;
	scroll-behavior: smooth;
	scroll-padding-top: 7rem;

	&::-webkit-scrollbar {
		background-color: rebeccapurple;
		width: 25px;
	}

	&::-webkit-scrollbar-track {
		background-color: red;
	}

	&::-webkit-scrollbar-thumb {
		background-color: salmon;
	}
}

section {
	padding: 5rem 10%;
}

body {
	font-family: 'Poppins', sans-serif;
	text-decoration: none;
}

.header {
	width: 100%;
	position: sticky;
	left: 0;
	top: -2px;
	right: 0;
	z-index: 1000;
}

.navbar {
	background-color: var(--white);
	box-shadow: var(--box-shadow);
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding: 15px;
	position: relative;

	.navbar__title {
		color: var(--light-bg);
		font-weight: bold;

		& span {
			color: var(--yellow);
		}
	}

	ul {
		list-style: none;
		display: flex;
		justify-content: space-around;
		width: 560px;
		font-size: 18px;
		font-weight: bold;

		li a {
			text-decoration: none;
			color: rgb(97, 97, 97);

			&:hover {
				color: var(--yellow);
			}
		}
	}

	.nav__icons {
		font-size: 25px;

		& a {
			@include iconsBox();
			text-decoration: none;
		}

		.bx-menu {
			display: none;
		}
	}

	.navbar__form {
		position: absolute;
		background-color: var(--white);
		top: 120%;
		padding: 15px;
		text-align: center;
		display: none;

		input {
			width: 100%;
			background-color: var(--light-bg);
			padding: 15px;
			color: var(--black);
			box-shadow: var(--box-shadow);
			font-size: 18px;
		}

		.bx-search-alt-2 {
			@include iconsBox();
		}

		&.active {
			display: flex;
		}
	}

	.login__form {
		// background-color: rebeccapurple;
		background-color: var(--white);
		position: absolute;
		right: 2%;
		top: 90px;
		padding: 25px;
		text-align: center;
		width: 400px;
		display: none;

		&.active {
			display: block;
		}

		.form__header {
			font-size: 25px;
			font-weight: bold;
		}

		.form__body {
			display: flex;
			flex-direction: column;

			.form__email,
			.form__password {
				padding: 10px;
				margin: 5px;
				background-color: var(--light-bg);
			}

			.form__remember {
				margin-top: 15px;
				margin-bottom: 20px;
				display: flex;
				justify-content: space-between;
				flex-wrap: wrap;

				& a {
					text-decoration: underline;
					color: var(--black);
				}
			}

			.login__btn {
				background-color: var(--black);
				color: var(--white);
				padding: 15px;
				margin-bottom: 10px;
				cursor: pointer;
				&:hover {
					box-shadow: 2px 2px 2px #444;
					background-color: var(--yellow);
				}
			}

			small span a {
				text-decoration: underline;
				color: var(--black);
			}
		}
	}
}

.contact__info {
	background-color: aqua;
	position: fixed;
	top: 0px;
	right: 0px;
	width: 25rem;
	height: 100%;
	background-color: var(--white);
	text-align: center;
	z-index: 1000;
	padding: 20px;
	display: none;

	&.active {
		display: block;
		box-shadow: 0 0 0 100vw rgba(0, 0, 0, 0.7);
	}

	#close-contact-info {
		font-size: 20px;
		position: absolute;
		top: 50px;
		right: 50px;
		font-weight: bold;
		cursor: pointer;

		&:hover {
			transform: rotate(30deg);
		}
	}

	.contact__phone,
	.contact__email,
	.contact__address {
		padding: 25px;
		margin: 10px 10px;
		// @include iconsBox();

		.bxs-phone,
		.bx-mail-send,
		.bxs-map {
			@include iconsBox();
		}

		// h3 {
		// margin-bottom: 10px;
		// margin-top: 20px;
		// }

		p {
			color: var(--black);
			margin: 5px 0px;
		}
	}

	.contact__media_social {
		margin: 25px 10px;
		i {
			@include iconsBox();
			margin: 0 5px;
		}
	}
}

.home {
	padding: 0;
	height: 90vh;

	.swiper {
		height: 100%;
	}

	.slide {
		align-items: center;
		background-position: center !important;
		background-size: cover !important;
		display: flex;
		position: relative;

		&::before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			height: 100%;
			width: 100%;
			background: linear-gradient(90deg, var(--white), transparent);
		}

		.content {
			position: relative;
			width: 40rem;
			top: -84px;

			h3 {
				font-size: 40px;
				text-transform: uppercase;
			}

			p {
				font-size: 15px;
				margin-bottom: 25px;
			}

			a {
				@include btnCallToAction();
			}
		}
	}
	.swiper-button-prev,
	.swiper-button-next {
		background: var(--white);
		bottom: 0;
		height: 80px;
		left: initial;
		right: 0;
		top: initial;
		width: 91px;
	}

	.swiper-button-prev::after,
	.swiper-button-next::after {
		color: var(--black);
		font-size: 25px;

		&:hover {
			background-color: rebeccapurple;
		}
	}

	.swiper-button-prev {
		right: 5.5rem;
	}
}

.about {
	.about__title {
		@include titleSecction();
	}

	.row {
		align-items: center;
		display: flex;
		flex-wrap: wrap;
		gap: 20px;

		.video {
			flex: 1 1 20rem;
			video {
				width: 100%;
				box-shadow: -14px 20px 0px 5px var(--yellow);
			}
		}

		.content {
			flex: 1 1 20rem;

			h2 {
				text-transform: capitalize;
			}

			.btn__content {
				margin-top: 10px;
				@include btnCallToAction();
			}
		}
	}

	.box-container {
		margin-top: 45px;
		display: flex;
		gap: 25px;
		justify-content: space-between;
		display: flex;
		flex-wrap: wrap;

		.box {
			background-color: var(--light-bg);
			padding: 30px 15px;
			text-align: center;
			flex: 1 1 90px;

			& .title_1 {
				@include counterNumber(var(--counterExperience));
			}

			& .title_2 {
				@include counterNumber(var(--proyectCompleted));
			}

			& .title_3 {
				@include counterNumber(var(--satisfiedClients));
			}

			& .title_4 {
				@include counterNumber(var(--activeWorkers));
			}
		}
	}
}

/* --------------------------------------------------- MEDIA QUERYS --------------------------------------------------------------------*/

@media (max-width: 1200px) {
	section {
		padding: 3rem 5%;
	}
}

@media (max-width: 950px) {
	html {
		font-size: 80%;
	}

	section {
		padding: 3rem 2rem;
	}

	.navbar {
		justify-content: space-between;

		& ul {
			// display: none;
			position: absolute;
			top: 5rem;
			left: 0;
			display: flex;
			flex-direction: column;
			width: 100%;
			clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
			background-color: var(--white);

			&.active {
				clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
			}

			& li {
				margin: 10px 25px;
			}
		}

		.nav__icons .bx-menu {
			display: inline-block;
		}
	}
}

@media (max-width: 450px) {
	.navbar .login__form {
		max-width: 280px;

		.form__remember {
			flex-direction: column;
		}
	}
	.content {
		text-align: center;
	}
}
